<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean class="top.xiaorang.springframework.test.bean.UserDao" init-method="initDataMethod"
          destroy-method="destroyDataMethod"/>

    <bean id="userService" class="top.xiaorang.springframework.test.bean.UserService">
        <property name="userId" value="1003"/>
        <property name="location" value="深圳"/>
        <property name="company" value="腾讯"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="top.xiaorang.springframework.test.common.MyBeanFactoryPostProcessor"/>
    <bean class="top.xiaorang.springframework.test.common.MyBeanPostProcessor"/>
</beans>