<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean class="top.xiaorang.springframework.test.bean.UserDao" init-method="initDataMethod"
          destroy-method="destroyDataMethod"/>

    <bean id="userService" class="top.xiaorang.springframework.test.bean.UserService">
        <property name="userId" value="1003"/>
        <property name="location" value="${location}"/>
        <property name="company" value="${company}"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="top.xiaorang.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config.properties"/>
    </bean>
</beans>